// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

$global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$base-body-font-family: Arial, sans-serif;
$base-heading-font-family: 'Open Sans', sans-serif;
// $base-heading-font-family: 'Roboto Condensed', sans-serif;
// $base-heading-font-family: 'Oswald', sans-serif;

// $logo-font-family: $global-font-family !default;
$global-font-size: 20px;
$base-body-font-weight: 500;

$heading-medium-font-size-l: 1.8rem;
// $heading-small-font-size-m: $heading-medium-font-size-l * 0.8125 !default;
// $heading-small-font-size: $heading-small-font-size-m * 0.8 !default;
$heading-medium-font-size-m: 1.4rem;
$heading-medium-font-size: 1.1rem;
$heading-large-font-size-m: 1.5rem;
$heading-large-font-size: 1.2rem;
$heading-xlarge-font-size: 2rem;
$heading-large-font-size-l: 2rem;
$heading-xlarge-font-size-m: 2.5rem;
$heading-2xlarge-font-size: 4rem;
$heading-xlarge-font-size-l: 3.5rem;
$heading-2xlarge-font-size-m: 6rem;
$heading-2xlarge-font-size-l: 9rem;

$base-heading-color: #474747;
$base-mark-background: #D0EEA0;

$global-primary-background: #6db63e;
$global-secondary-background: #2d3439;
$global-warning-background: #fbbf31;
// $global-muted-background: #34b0c8;
$button-danger-background: #e84745;
// $button-danger-color: #333;
// $button-danger-hover-color: #333;
$button-large-font-size: 1.1rem;
$button-large-padding-horizontal: 4px;

.ms-primary-color {
  color: $global-primary-background;
}
.ms-big-t {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1em;
}
.ms-big-number {
  font-size: 2rem;
  font-weight: 700;
  border: 1px dashed;
  border-radius: 10px;
  padding: 5px;
  // margin-top: 10px;
}
.ms-half-opacity {
  // background: rgba(213, 208, 189, 0.7);
  background: rgba(44, 81, 138, 0.6);
  border-radius: 10px;
  padding: 10px;
}
.ms-price-small {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1em;
}
// small star
.ms-star-s {
position: relative;
width: 100px;
height: 100px;
align: center;
}
.ms-star-s span {
position: absolute;
font-size: 70px;
}
.ms-star-s p{
position: relative;
left: 10px;
top: 15px;
color: #000;
font-weight: 600;
}
// medium star
.ms-star-m {
position: relative;
width: 120px;
height: 120px;
align: center;
}
.ms-star-m span {
position: absolute;
font-size: 90px;
}
.ms-star-m p{
position: relative;
left: 10px;
top: 25px;
color: #000;
font-weight: 600;
}
// star in button
.ms-star-xs {
position: relative;
width: 20px;
height: 20px;
align: center;
}
.ms-star-xs span {
position: absolute;
font-size: 50px;
}
.ms-star-xs p{
position: relative;
left: 17px;
top: -14px;
color: #000;
font-size: 14px;
font-weight: 600;
}
//
.ms-price-bordered {
  border: 1px dashed;
  border-radius: 10px;
  padding: 5px;
}
.ms-icon-big {
  font-size: 150px;
}
